<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/login.css">
</head>

<body>
  <div class="login">
    <div class="title">
      <div class="png"><img src="./img/avatar1.png" alt="" class="toux1"></div>
      <h1>登录</h1>
    </div>
    <form action="" class="form">
      <p class="label"><label for="name">用户名:&emsp;</label><input type="text" id="name"></p>
      <p class="label"><label for="pas">密&emsp;码:&emsp;</label><input type="password" id="pas"></p>
      <input type="submit" class="submit">

    </form>
  </div>
</body>

</html>